name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 0 * * 3'
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        include:
          - java: 8
          - java: 11
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: ${{matrix.java}}
        distribution: adopt
    - uses: coursier/cache-action@v6
    - uses: sbt/setup-sbt@v1
    - run: sbt -v "+test"
